
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>Welcome to ActionResult.</p>

<ul>
    <!-- Start -->
    <li>@Html.ActionLink("UseResult", "UseResult")</li>
    <li>@Html.ActionLink("UseResult2", "UseResult2")</li>
    <li>@Html.ActionLink("UseMethod", "UseMethod")</li>
    <li>@Html.ActionLink("ContentAction", "ContentAction")</li>
    <li>@Html.ActionLink("Details", "Details")</li>
    <li>@Html.ActionLink("JsonAction", "JsonAction")</li>
    <!-- ContentResult -->
    <li>@Html.ActionLink("DemoContent", "DemoContent")</li>
    <li>@Html.ActionLink("DemoHtmlContent", "DemoHtmlContent")</li>
    <li>@Html.ActionLink("DemoEncodingContent", "DemoEncodingContent")</li>
    <li>@Html.ActionLink("DemoCSVContent", "DemoCSVContent")</li>
    <li>@Html.ActionLink("DemoXMLContent", "DemoXMLContent")</li>
    <li>@Html.ActionLink("ProductsCount", "ProductsCount")</li>
    <!-- JavaScript -->
    <li>@Html.ActionLink("OnlineGame", "OnlineGame")</li>
    <!-- JSON -->
    <li>@Html.ActionLink("DemoJson1", "DemoJson1")</li>
    <li>@Html.ActionLink("DemoJson2", "DemoJson2")</li>
    <li>@Html.ActionLink("DemoJsonModel", "DemoJsonModel")</li>
    <!-- Redirect -->
    <li>@Html.ActionLink("DemoRedirect", "DemoRedirect")</li>
    <!-- File -->
    <li>@Html.ActionLink("MultiFileUpload", "MultiFileUpload")</li>
    <li>@Html.ActionLink("UploadToDB", "UploadToDB")</li>
    <li>@Html.ActionLink("MultiFileUploadDB", "MultiFileUploadDB")</li>
    <li>@Html.ActionLink("DemoFileContent", "DemoFileContent")</li>
    <li>@Html.ActionLink("ShowImages", "ShowImages")</li>
    <li>@Html.ActionLink("DemoFileStream", "DemoFileStream")</li>
    <!-- ViewResult -->
    <li>@Html.ActionLink("DemoActionName", "DemoActionName")</li>
    <li>@Html.ActionLink("DemoMaster", "DemoMaster")</li>
    <li>@Html.ActionLink("DemoPartialView", "DemoPartialView")</li>
    <li>@Html.ActionLink("GetTime", "GetTime")</li>
    <!-- Video -->
    <li>@Html.ActionLink("DemoVideo", "DemoVideo")</li>
    <li>@Html.ActionLink("ShowVideo", "ShowVideo")</li>
</ul>

