
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>Welcome to Controller pass data to View.</p>

<ul>
    <li>@Html.ActionLink("DemoViewData","DemoViewData")</li>
    <li>@Html.ActionLink("DemoViewBag", "DemoViewBag")</li>
    <li>@Html.ActionLink("DemoVDModel", "DemoVDModel")</li>
    <li>@Html.ActionLink("DemoVBModel", "DemoVBModel")</li>
    <li>@Html.ActionLink("DemoViewDataModel", "DemoViewDataModel")</li>
    <li>@Html.ActionLink("DemoStronglytyped", "DemoStronglytyped")</li>
    <li>@Html.ActionLink("DemoInput", "DemoInput")</li>
    <li>@Html.ActionLink("DemoTempData", "DemoTempData")</li>
    <li>@Html.ActionLink("DemoTempDataProduct", "DemoTempDataProduct")</li>
    <li>@Html.ActionLink("DemoSelectList", "DemoSelectList")</li>
    <li>@Html.ActionLink("DemoMultiModelObject", "DemoMultiModelObject")</li>
    <li>@Html.ActionLink("DemoViewModel", "DemoViewModel")</li>
    <li>@Html.ActionLink("DemoTuple", "DemoTuple")</li>
    <li>@Html.ActionLink("DemoScaffoldList", "DemoScaffoldList")</li>
</ul>