
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>Welcome to View pass data to Controller.</p>

<ul>
    <li>@Html.ActionLink("DemoQueryString", "DemoQueryString")</li>
    <li>@Html.ActionLink("DemoRouteData", "DemoRouteData")</li>
    <li>@Html.ActionLink("BasicModelBinding", "BasicModelBinding")</li>
    <li>@Html.ActionLink("BasicModelBindingByModel", "BasicModelBindingByModel")</li>
    <li>@Html.ActionLink("DemoFormCollection", "DemoFormCollection")</li>
    <li>@Html.ActionLink("PersonModelBinding", "PersonModelBinding")</li>
    <li>@Html.ActionLink("MultiPersonModelBinding", "MultiPersonModelBinding")</li>
    <li>@Html.ActionLink("ViewModelModelBinding", "ViewModelModelBinding")</li>
</ul>
